<div class="site-header border-bottom">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

      <!-- Brand -->
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <img src="logo.svg" alt="CyberAlex logo" width="32" height="32" class="me-2">
        <span class="fw-semibold">CyberAlex</span>
      </a>

      <!-- Always-visible links: Home + Contact -->
      <ul class="navbar-nav ms-auto d-flex flex-row align-items-center me-2">
        <li class="nav-item me-2">
          <a class="nav-link px-2" href="index.html" data-page="index.html">Home</a>
        </li>
        <li class="nav-item">
          <!-- If you don't have contact.html yet, change this to mailto: or a # -->
          <a class="nav-link px-2" href="contact.html" data-page="contact.html">Contact</a>
        </li>
      </ul>

      <!-- Burger toggler for extra links -->
      <button class="navbar-toggler ms-1" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainNavExtra"
              aria-controls="mainNavExtra"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible extra nav: Projects, Writing, About -->
      <div class="collapse navbar-collapse mt-2 mt-md-0" id="mainNavExtra">
        <ul class="navbar-nav ms-md-3 ms-lg-4">
          <li class="nav-item">
            <a class="nav-link px-2" href="projects.html" data-page="projects.html">
              Projects &amp; tools
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="blog.html" data-page="blog.html">
              Writing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="about.html" data-page="about.html">
              About &amp; CV
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
